.devenv*
.direnv
.env
.envrc
.helix/config.toml
book
devenv.local.nix
devenv.local.yaml
documentation/book
init/flake.lock
result
src/**/uv.lock

# javascript
node_modules

# python
*.pyc
.coverage
.venv
__pycache__/
dist/
