from_latest_tag = false
ignore_merge_commits = true
ignore_fixup_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
generate_mono_repository_package_tags = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = []
post_bump_hooks = []
pre_package_bump_hooks = []
post_package_bump_hooks = []
tag_prefix = ""

[git_hooks]

[commit_types]

[changelog]
path = "CHANGELOG.md"
owner = "tymbalodeon"
remote = "github.com"
repository = "environments"
template = "remote"

[[changelog.authors]]
signature = "Ben Rosen"
username = "tymbalodeon"

[bump_profiles]

[packages]
