[project]
name = "{{project.name}}"
version = "{{project.version}}"
{% if project.description -%}
description = "{{project.description}}"
{%- endif %}
readme = "README.md"
requires-python = ">={{project.requires_python}}"
dependencies = []

[dependency-groups]
dev = ["bpython>=0.24", "pytest>=8.3.3"]

{%- if build_system %}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
{% endif -%}
